{% extends 'base.html.twig' %}

{% block body %}
    {#    *********************************** SLIDER ***********************************    #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>


    <div class="my-slider">
        <div><p><img src="{{ asset('img/CollHA2019JOTT.jpg') }}"></p></div>
        <div><p><img src="{{ asset('img/CollHA2019SJ.jpg') }}"></p></div>
    </div>

    <div class="test"></div>

    <ul class="controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev" aria-controls="customize" tabindex="-1" data-controls="prev">
            <img src="{{ asset('img/angle-left.png') }}" alt="">
        </li>
        <li class="next" aria-controls="customize" tabindex="-1" data-controls="next">
            <img src="{{ asset('img/angle-right.png') }}" alt="">
        </li>
    </ul>

    <div id="container-news">
        <div class="header-news">
            <div class="line"></div><h3>Nouveautés</h3><div class="line"></div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="content-news slider-news">
            <div class="items-news">
                <p><img src="{{ asset('img/item_1.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>Chino slim fit</p>
                    <p>99,90 €</p>
                </div>
            </div>
            <div class="items-news">
                <p><img src="{{ asset('img/item_2.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>T-shirt col rond</p>
                    <p>39,90 €</p>
                </div>
            </div>
            <div class="items-news">
                <p><img src="{{ asset('img/item_3_red.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>Veste La Petite Etoile</p>
                    <p>79,90 €</p>
                </div>
            </div>
            <div class="items-news">
                <p><img src="{{ asset('img/item_1.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>Chino slim fit</p>
                    <p>99,90 €</p>
                </div>
            </div>
            <div class="items-news">
                <p><img src="{{ asset('img/item_3_red.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>Veste La Petite Etoile</p>
                    <p>79,90 €</p>
                </div>
            </div>
            <div class="items-news">
                <p><img src="{{ asset('img/item_2.jpg') }}"></p>
                <div class="line"></div>
                <div class="info-item-news">
                    <p>T-shirt col rond</p>
                    <p>39,90 €</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-categories">
        <div class="flex-categories">
            <div class="header-categories" >
                <div class="line"></div><h3>Homme</h3><div class="line"></div>
            </div>
            <div class="card-content-categories">
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_1.jpg') }}"> </p>
                    <div>
                        <p>Chaussures</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_2.jpg') }}"> </p>
                    <div>
                        <p>Jeans/Chinos</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_3.jpg') }}"> </p>
                    <div>
                        <p>Vestes</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_4.jpg') }}"> </p>
                    <div>
                        <p>Pulls/Sweats</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_5.jpeg') }}"> </p>
                    <div>
                        <p>T-shirts</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/cart_6.png') }}"> </p>
                    <div>
                        <p>Chemises</p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <div class="flex-categories">
            <div class="header-categories">
                <div class="line"></div><h3>Femme</h3><div class="line"></div>
            </div>
            <div class="card-content-categories">
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_1_f.png') }}"> </p>
                    <div>
                        <p>Chaussures</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_2_f.png') }}"> </p>
                    <div>
                        <p>Jeans/Chinos</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_3_f.png') }}"> </p>
                    <div>
                        <p>Vestes</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_4_f.png') }}"> </p>
                    <div>
                        <p>Robes/Jupes</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_5_f.png') }}"> </p>
                    <div>
                        <p>Pulls/Gilets</p>
                    </div>
                </div>
                <div class="item-categories">
                    <p class="container-img"><img src="{{ asset('img/card_6_f.png') }}"> </p>
                    <div>
                        <p>Chemises/Tops</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block stylesheets %}{% endblock %}

