{% extends 'base.html.twig' %}

{% block title %}
    Liste des produits
{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>
    <table class="table table-striped table-bordered table-condensed">
        <thead>
        {%  dump(arrayProduits) %}
            <th>Titre</th>
            <th>Image</th>
            <th>Description</th>
            <th>Taille</th>
            <th>Couleur</th>
            <th>Stock</th>
            <th>Reference</th>
            <th>Categories</th>
            <th>Type</th>
            <th>Genre</th>
            <th>Prix</th>
            <th width="120"></th>
        </thead>
    <tbody>
    {% for produit in arrayProduits %}
        <tr id="{{  produit.idProduit }}">
            <td id="titre">{{ produit.titre }}</td>
            <td>{{ produit.image }}</td>
            <td>{{ produit.description }}</td>
            <td>{{ produit.idTaille.taille }}</td>
            <td>{% if produit.idCouleur is not defined %} {{ produit.idCouleur.couleur }} {%  else %} {{ "Null" }} {% endif %}</td>
            <td>{{ produit.stock }}</td>
            <td>{% if produit.idReference is not defined %} {{ produit.idReference.reference }} {%  else %} {{ "Null" }} {% endif %}</td>
            <td>{% if produit.idCategories is not defined %} {{ produit.idCategories.categories }} {%  else %} {{ "Null" }} {% endif %}</td>
            <td>{% if produit.idType is not defined %} {{ produit.idType.type }} {%  else %} {{ "Null" }} {% endif %}</td>
            <td>{% if produit.idGenre is not defined %} {{ produit.idGenre.genre }} {%  else %} {{ "Null" }} {% endif %}</td>
            <td>{{ produit.prix }}</td>
            <td><a class="btn btn-primary btn-sm" href="{{ path('admin_Produit', { 'id': produit.idProduit }) }}" title="Modifier le film">
                    <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Modifier</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun film n'a été trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}